// {
//     "presets": ["@babel/preset-env","@babel/preset-react","es2015", "react"],
//     "plugins": ["transform-class-properties"]
// }
// 
{
    "presets": [
        "@babel/preset-react",
        "@babel/react" , 
        "@babel/env" 
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
        // 
    ]
 }