<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .outermain{
            border: 1px solid red;
        }
        .outer{
            height:150px;
            width:250px;
            display: flex;
            flex-direction: row;
            align-items:flex-end;
        }
        .item{
            padding: 2px;
            flex-grow: 1;
        }
        .chatcontainer{
            width: 100%;
            height: 100%;
        }
    </style>

</head>
<body>
    <div class='outermain'>
        <div class='chatcontainer'></div>
        <div class="outer"></div>
        <input class="item input" /><span><button class="item button">
            Send
        </button></span>
    </div>
    <script src="http://localhost:5000/socket.io/socket.io.js"></script>
    <script>

        var socket= io('http://localhost:5000/test')
        var username=prompt("enter your name")
        var chatcont=document.getElementsByClassName('chatcontainer')[0]
        var ip = document.getElementsByClassName('item')[0]
        var b=document.getElementsByClassName('button')[0]
        // console.log(button)
        
        socket.emit('joined',username)


        b.addEventListener('click',function(e) {
            e.preventDefault();
            socket.emit('ms',ip.value)
        })
        
        socket.on('mr',function(data) {
           var ele=document.createElement("div")
            ele.innerText=data;
            chatcont.appendChild(ele)

        })
        socket.on('test',function(data) {
            console.log(data)
        })
    </script> 
</body>
</html>