<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <a class="navbar-brand" href="#">Login</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <% if(!user) { %>
                  <a class="nav-link" href="#">DHome <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">Link</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link active" href="#"><%= user.username %></a>
                  </li>
                <% } %>
              </ul>
              
            </div>
        </div>
          </nav>
            <div class="container"> 
              <span class="jumotron display-4">logged in with Google</span>  
            </div>
          </div>
    </body>
    <%- include('./partials/scripts.ejs') %>
</html>