<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/navbar.ejs') %> <div class="jumbotron jumbotron-fluid">
            <div class="container"> 
              <span class="display-4">login with Google</span><a href="/auth/google"><img src="./google(1).png"></a></button>  
            </div>
          </div>
    </body>
    <%- include('./partials/scripts.ejs') %>
</html>